#include <windows.h>
#include <menus.h>
#include "about.dlg"

bmdemo     BITMAP  demo.bmp
bmmonk     BITMAP  monkey.bmp

CHARTCUR   CURSOR  chartcur.cur  
LOGO       ICON    LOGO.ICO
PgWin      ICON    CHART.ICO
  
MainMenu  MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
	MENUITEM "&Start", IDM_START
    POPUP    "&Help"
    BEGIN
        MENUITEM "&About Chart Test...", IDM_ABOUT
    END
END
PageMenu  MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
    POPUP    "&File"
    BEGIN
       MENUITEM "Save As &Metafile", IDM_SAVEASMETA
       MenuItem  SEPARATOR
       MENUITEM "Print current &page", IDM_PRINT_PAGE
       MENUITEM "Print selected &graph", IDM_PRINT_GRAPH
       MENUITEM "Printer &setup...",     IDM_PSET
       MENUITEM "Printing &Options...",  IDM_PRINT_PARAM
    END

    POPUP        "&Edit"
    BEGIN
        MENUITEM    "&Copy Graph", IDM_COPYGRAPH
        MENUITEM    "Copy &Page",  IDM_COPYPAGE
    END

    POPUP        "&Graphs"
    BEGIN
        MENUITEM    "&Parameters...", IDM_PARGRAPH
        MENUITEM    "&Fill Page",     IDM_BLOWSEL
        MENUITEM    "&Delete Graph",  IDM_CLEAR
    END

    POPUP        "&Options"
    BEGIN
        MENUITEM    "&Show Selectors", IDM_SHOWSEL
        MENUITEM    "&Highlight Selected Graph",  IDM_HIGHSEL
    END
END


